.cart{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.clearbutton{
    background-color:red;
    color:white;
    border:1px solid white;
    padding:10px;
    border-radius:5px;
}
.emptycart{
    background-color:darksalmon;
    color:crimson;
    padding:10px;
    text-align:center;
    height:60vh;
}
.shopNow{
    background-color:firebrick;
    color:white;
    border:1px solid white;
    padding:10px;
    border-radius:5px;
    margin-top:30px;}