*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.headerContainer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:darkkhaki;
    padding:15px;
}
.logo{
    color:brown;
    font-size:20px;
    font-style:italic;
    margin-left:10px;
    align-self:center;
}
.sections{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.section{
    list-style-type:none;
    margin-right:20px;
}
.sectionItem{
    text-decoration:none;
    color:brown;
}
.menu{
    margin-right:20px;
    margin-top:10px;
    align-self:center;
    font-size:2rem;
}

@media screen and (max-width:767px){
    .sections{
        display:flex;
        flex-direction:column;
        position:fixed;
        top:50px;
        right:-150px;
        width:150px;
        align-items:flex-start;
        justify-content:flex-start;
        background-color:darkkhaki;
        height:100vh;
        margin-top:20px;
    }
    .section{
        margin-left:15px;
        margin-bottom:20px;
        margin-top:10px;
    }
}

@media screen and (min-width:768px){
    .menu{
        display:none;
    }
}

.Active{
    right:0px;
}